body {
  font-family: Arial;
  background: linear-gradient(135deg,#1e3c72,#2a5298);
  color: white;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  background: #111827;
}

h1 {
  text-align: center;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  background: #1c1c2b;
  color: white;
}

textarea {
  height: 120px;
}

button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#btnEncrypt {
  background: linear-gradient(135deg,#00c6ff,#0072ff);
}

#btnDecrypt {
  background: linear-gradient(135deg,#ff512f,#dd2476);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.info {
  margin-top: 10px;
  color: yellow;
}