body{
font-family:Arial;
background:linear-gradient(135deg,#141e30,#243b55);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.container{
background:#0f172a;
padding:30px;
width:520px;
border-radius:15px;
box-shadow:0 0 20px cyan;
}

h1{
text-align:center;
color:#00ffff;
}

p{
text-align:center;
color:#94a3b8;
margin-bottom:20px;
}

label{
margin-top:10px;
display:block;
}

textarea,input,select{
width:100%;
padding:10px;
margin-top:5px;
border-radius:8px;
border:none;
background:#1e293b;
color:white;
}

.buttons{
display:flex;
justify-content:space-between;
margin-top:15px;
}

button{
width:48%;
padding:10px;
border:none;
border-radius:8px;
font-weight:bold;
cursor:pointer;
}

button:nth-child(1){
background:linear-gradient(45deg,#00f5a0,#00d9f5);
}

button:nth-child(2){
background:linear-gradient(45deg,#ff416c,#ff4b2b);
color:white;
}